$accent-color: #4a4d4e;
$button-color: #0093e6;
$button-color-hover: #0884c9;
$white: #ffffff;
$bg-color: #f9f9f9;
$dark-gray: #333333;

// @mixin breakpoint($point) {
//   @if $point == lg {
//     @media (max-width: 992px) {
//       @content;
//     }
//   } @else if $point == md {
//     @media (max-width: 768px) {
//       @content;
//     }
//   } @else if $point == sm {
//     @media (max-width: 576px) {
//       @content;
//     }
//   } @else if $point == xs {
//     @media (max-width: 320px) {
//       @content;
//     }
//   }
// }
