.cf {
  margin-top: 150px;
  padding-bottom: 150px;
  background-color: $white;
  padding-top: 250px;
}

.menu {
  width: 25%;
  float: left;
  margin-bottom: -110px;
  padding-bottom: 15px;
  color: $dark-gray;
  opacity: 0.2;
}

.menu__slide {
  max-width: 950px;
  margin: 50px auto;
}

.menu .icon {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
}

.menu .title {
  position: relative;
  top: -45px;
}

.bar {
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background: $bg-color;
  margin: 20px 0;
  clear: both;
}

.bar #slide-bar {
  width: 25%;
  height: 5px;
  border-radius: 4px;
  background: $button-color;
}

.menu:nth-child(1) {
  opacity: 1;
}

.menu,
.bar #slide-bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

.menu label:hover {
  cursor: pointer;
  opacity: 1;
}

.slide__line-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 100px;
}

.slide__line-text {
  width: 290px;
  height: 60px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.slide__line {
  position: relative;
  top: 20px;
  width: 900px;
  height: 4px;
}

.slide__line-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-right: 100px;
  margin-left: 260px;
}

.slide__line-img {
  width: 850px;
  height: 4px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.slide__btn {
  height: 40px;
  font-size: 14px;
  padding: 8px 60px 8px 60px;
  border-radius: 10px;
  background: $button-color;
  color: $white;
  line-height: 18px;

  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: $button-color-hover;;
    }
  }


.bottom__btn {
  height: 40px;
  font-size: 14px;
  padding: 8px 60px 8px 60px;
  border-radius: 10px;
  background: $button-color;
  color: $white;
  line-height: 18px;
}

.slide__bottom-btn .bottom__btn{
  margin-top: 40px;
  margin-left: 95px;
}

.bottom__btn {
    transition: background-color 0.2s ease-in;
  
&:hover {
  background-color: $button-color-hover;;
  }
}


